body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header h1 {
    margin: 0;
    font-size: 36px;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#main p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

input[type="file"],
input[type="text"],
input[type="submit"] {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

form {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 20px;
}

details {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

summary {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

summary::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

select {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="checkbox"] {
    font-size: 18px;
}