<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
</head>
<body>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script th:inline="javascript">
        const chartLines = [[${chartLines}]]
        const labels = [[${labels}]];

        console.log(chartLines)

        drawLineChartWithRandomBorderColor(labels, chartLines);
    </script>
</body>
</html>