<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Кластерізація часових рядів</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header id="header">
    <h1>Кластерізація часових рядів</h1>
</header>
<main id="main">
    <section>
        <h2>Про сайт</h2>
        <p>
            Цей сайт для кластеризації часових рядів досягнень спортсменів підводного плавання має на меті допомогти
            тренерам та спортсменам в аналізі та візуалізації даних щодо результатів спортивних змагань з підводного
            плавання.
        </p>
        <p>
            З допомогою цього сайту, користувачі можуть відбирати та кластеризувати часові ряди досягнень спортсменів з
            різних змагань, що дозволяє здійснювати порівняльний аналіз між ними. Кластеризація може допомогти
            виокремити
            спільні закономірності між різними змаганнями та групами спортсменів, що може бути корисно в процесі
            розробки
            тренувальних програм та стратегій.
        </p>
        <p>
            На сайті можуть бути розміщені графіки, діаграми та інші візуальні елементи, що допомагають візуалізувати
            дані
            та зробити їх більш доступними для аналізу. Крім того, користувачі можуть застосовувати фільтри, щоб
            відбирати
            та аналізувати дані, які їх цікавлять.
        </p>
        <p>
            Призначення сайту полягає у полегшенні аналізу та візуалізації даних про досягнення спортсменів у підводному
            плаванні. Це може допомогти тренерам та спортсменам приймати більш обґрунтовані рішення, покращувати
            тренувальні
            програми та підвищувати результативність у змаганнях.
        </p>
    </section>
    <section>
        <h2>Завантаження даних</h2>
        <form method="POST" action="/file/upload" enctype="multipart/form-data">
            <input name="file" type="file" value="Choose file"/>
            <input type="submit" value="Upload"/>
        </form>
    </section>
    <section>
        <h2>Побудова графіків</h2>
        <form method="POST" action="/chart/chartForActivityType">
            <label> Дисципліна
                <input name="activityType" type="text"/>
            </label>
            <input type="submit" value="Draw"/>
        </form>
        <form method="POST" action="/chart/chartForSportsman">
            <label> Ім'я спортсмена
                <input name="sportsmanName" type="text"/>
            </label>
            <input type="submit" value="Draw"/>
        </form>
    </section>
</main>
</body>
</html>